{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
    <link rel = "stylesheet" href = "{% static 'base/css/usersContact.css' %}">
</head>
<body>
    <div class="container">
        {% include 'base/navbar.html' %}
        <h1>List of users</h1>
        <table>
            <thead>
                <tr>
                    <th>first name</th>
                    <th>last name</th>
                    <th>profile</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td>{{ user.first_name }}</td>
                    <td>{{ user.last_name }}</td>
                    <td><a href="{% url 'userProfile' user.id %}">Профиль</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
