{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change User Details</title>
    <link rel="stylesheet" href="{% static 'base/css/userChange.css' %}">
</head>
<body>
    {% include 'base/navbar.html' %}
    <div class="container">
        <div class="form-container">
            <h2>Change User Details</h2>
            <form method="POST" action="">
                {% csrf_token %}
                <div class="form-group">
                    <div class="form-field">
                        {{ userForm.first_name.label_tag }}
                        {{ userForm.first_name }}
                    </div>
                    <div class="form-field">
                        {{ userForm.last_name.label_tag }}
                        {{ userForm.last_name }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-field">
                        {{ userForm.email.label_tag }}
                        {{ userForm.email }}
                    </div>
                    <div class="form-field">
                        {{ userForm.telephone_number.label_tag }}
                        {{ userForm.telephone_number }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-field">
                        {{ userForm.avatar.label_tag }}
                        {{ userForm.avatar }}
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-field">
                        {{ userForm.username.label_tag }}
                        {{ userForm.username }}
                    </div>
                </div>
                <input type="submit" value="Save Changes">
            </form>
        </div>
        {% if messages %}
        <div>
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
    </div>
</body>
</html>
