body {
    font-family: "Fira Sans", sans-serif;
    background-color: #f0f2f5;
    margin: 0;
    padding: 0;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../img/background-userProfile.jpg');
	background-position: center;
	background-size: cover;
}

.profile-card {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    max-width: 90vw;
    text-align: center;
    padding: 20px;
}

.profile-avatar {
    margin-bottom: 20px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-info {
    margin-top: 20px;
}

.profile-info h2 {
    margin-bottom: 20px;
}

.profile-field {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.profile-info p {
    margin: 5px 0;
    color: #555;
}

.profile-info p strong {
    color: #333;
}

.change-button {
    background-color: black;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;

}

.change-button:hover {
    opacity: 0.5;
}
